body {
    margin: 0;
    padding: 30px;
}

.controls {
    display: flex;
    height: 200px;
}

.templates-list {
    width: 600px;
}

.input {
    width: 400px;
}

.notifs {
    padding-top: 50px;
    width: 100%;
    display: flex;
}

.desktop {
    width: 1080px;
    height: 800px;
    border: 1px solid gray;
}

.desktop::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}
.mobile::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

.mobile {
    margin-left: 30px;
    width: 340px;
    border: 1px solid gray;
    height: 600px;
}

.lists {
    display: flex;
}

.pages {
    width: 300px;
}

.common-components {
    width: 300px;
    overflow-y: scroll;
    max-height: 200px;
}
