<span>
    
    <table border='0' cellPadding='0' cellSpacing='0' class='footer'>
            <tbody>
                <tr>
                    <td>
                        js.import(`social_networks.html`)
                    </td>
                </tr>
                <tr>
                    <td class='footer__address'>1040 Mariposa St., San Francisco, CA 94107</td>
                </tr>
            </tbody>
    </table>
</span>
