<span>
    

    {if $subject}
        <table width='100%' border='0' cellPadding='0' cellSpacing='0'>
            <tbody>
                <tr>
                    <td class='header__logo'>
                        {if $isMarket}
                            <a href='{$home_url}' class='header__logo_link'>
                                <img
                                    src='https://cdn.schema.io/spinn-marketplace/59b32b52d59ef70b74b78ff6/0f54ef72db713779faa7ea65d47e03a3/lo-spinn-market.png'
                                    width='180'
                                    height='35'
                                />
                            </a>
                        {else}
                            <a href='{$home_url}' class='header__logo_link'>
                                <img
                                    src='https://cdn.schema.io/spinn-marketplace/59793823110ececc6e290cdc/80db728f74d186f79da6c76d77ee8832/lo-spinn_2x.png'
                                    width='92'
                                    height='42'
                                />
                            </a>
                        {/if}
                    </td>
                    <td class='header__subject'>{$subject}</td>
                </tr>
            </tbody>
        </table>
    {else}
        {if $isMarket}
            <a href='{$home_url}' class='header__logo_link'>
                <img
                    src='https://cdn.schema.io/spinn-marketplace/59b32b52d59ef70b74b78ff6/0f54ef72db713779faa7ea65d47e03a3/lo-spinn-market.png'
                    width='180'
                    height='35'
                />
            </a>
        {else}
            <a href='{$home_url}' class='header__logo_link'>
                <img
                    src='https://cdn.schema.io/spinn-marketplace/59793823110ececc6e290cdc/80db728f74d186f79da6c76d77ee8832/lo-spinn_2x.png'
                    width='92'
                    height='42'
                />
            </a>
        {/if}
    {/if}
</span>