<span>
    
    <table border='0' cellPadding='0' cellSpacing='0' class='items_list'>
        <thead><tr class='items_list__head'>
            <td class='items_list__item_header'>
                {if $isCart}
                    ITEM
                {/if}
                {if !$isCart}
                    ORDER #{$order.number}
                {/if}
            </td>
            <td class='items_list__item_header items_list__column'>QTY</td>
            {if $showPrice}
                <td class='items_list__cross'></td>
                <td class='items_list__item_header'>PRICE</td>
            {/if}
        </tr></thead>
        <tbody>
            {foreach $order.items as $item}
                <tr class='items_list__separator'>
                    <td class='items_list__item'>
                        <table border='0' cellPadding='0' cellSpacing='0'>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class='items_list__item_image' src='{$item.image}' />
                                    </td>
                                    <td>
                                        <table border='0' cellPadding='0' cellSpacing='0' class='items_list__item_root'>
                                            <tbody>
                                                <tr><td class='items_list__item_roaster'>
                                                    {$item.roaster_name}
                                                </td></tr>
                                                <tr><td class='items_list__item_name'>
                                                    {$item.name}
                                                </td></tr>
                                                {if $item.type neq "credit"}
                                                    <tr><td>
                                                        <span class='items_list__item_options'>
                                                            {$item.weight} OZ - {$item.grind}
                                                        </span>
                                                    </td></tr>
                                                {/if}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class='items_list__column'>{$item.quantity}</td>
                    {if $showPrice}
                        <td width='10'>x</td>
                        <td class='items_list__column'>${$item.price|number_format:2}</td>
                    {/if}
                </tr>
            {/foreach}
        </tbody>
        {if strlen($order.coupon_code) gt 0}
            {if $showPromo}
                <tfoot>
                    <tr class='items_list__footer'>
                        <td class='items_list__item_header'>PROMO CODE: {$order.coupon_code}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            {/if}
        {/if}
    </table>
</span>