<span>
    
    <table border='0' cellPadding='0' cellSpacing='0' class="social_networks" align='center'>
        <tbody>
            <tr class="social_networks__row">
                <td class="social_networks__cell" align='center'>
                    <a href='https://www.facebook.com/SpinnCoffee' class="social_networks__link_social">
                        <img
                            alt='Follow Spinn on Facebook'
                            src='https://cdn.schema.io/spinn-marketplace/597940556d36d4d06eb28594/6afa190dd484ab8ae132204b29f232dd/lo-facebook_2x.png'
                            width='32'
                            height='32'
                        />
                    </a>
                </td>
                <td class="social_networks__cell" align='center'>
                    <a href='https://twitter.com/spinncoffee' class="social_networks__link_social">
                        <img
                            alt='Follow Spinn on Twitter'
                            src='https://cdn.schema.io/spinn-marketplace/597942116d36d4d06eb2859d/fe40e339a530d2b4761ebef3dc785e4d/lo-twitter_2x.png'
                            width='32'
                            height='32'
                        />
                    </a>
                </td>
                <td class="social_networks__cell" align='center'>
                    <a href='https://www.instagram.com/spinn/' class="social_networks__link_social">
                        <img
                            alt='Follow Spinn on Instagram'
                            src='https://cdn.schema.io/spinn-marketplace/597941b06d36d4d06eb28599/1255e77e255e4c5d16bd53b9dcf0bc39/lo-instagram_2x.png'
                            width='32'
                            height='32'
                        />
                    </a>
                </td>
                <td class="social_networks__cell" align='center'>
                    <a href='https://www.pinterest.com/spinncoffee/' class="social_networks__link_social">
                        <img
                            alt='Follow Spinn on Pinterest'
                            src='https://cdn.schema.io/spinn-marketplace/59794263c164d0ce6e3a15ad/4181e239a1523692d17e86c8328d63eb/lo-pinterest_2x.png'
                            width='32'
                            height='32'
                        />
                    </a>
                </td>
                <td class="social_networks__cell" align='center'>
                    <a href='https://www.youtube.com/spinncoffee' class="social_networks__link_social">
                        <img
                            alt='Follow Spinn on YouTube'
                            src='https://cdn.schema.io/spinn-marketplace/597942af6d36d4d06eb285a0/8f69d1309888791e9710449dbf30c100/lo-youtube_2x.png'
                            width='32'
                            height='32'
                        />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</span>